@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body{
	font-family: 'Hind Vadodara', sans-serif;
	font-size: 18px;
	color: #fff;
	background-color: #ccc;
}

a{
	color: rgb(236, 176,	2);
}

a:hover{
	color: #fff;
}


h1{
	font-family: 'Anton', sans-serif;
	font-size: 35px;
}

h2{
	margin-top: 30px;
	font-family: 'Fira Code', monospace;
	font-size: 20px;
	text-align: center;
}

h3{
	margin-top: 15px;
	font-family: 'Fira Code', monospace;
	font-size: 20px;
	text-align: center;
}

.content {
	align-self: center;
	background: #1f1f1f;
	border: 1px solid #1f1f1f;
	padding: 2rem;
	padding-bottom: 1.5rem;
	margin: 0 auto -50px;
	position: relative;
	max-width: 1000px;
	min-height:100%;
	margin-bottom: -40px;
	padding-bottom: 120px;
}

.content img{
	width: 100%;
	align-items: baseline;
}


.inner-content{
		background: #1f1f1f;
		margin-left: 1em;
		margin-right: 1em;
}

.margin-button {
		margin-top: 0.5em;
}

p {
		display: block;
		margin-top: 4px;
		margin-bottom: 5px;
		margin-left: 0;
		margin-right: 0;
}

#info{
	margin-top: 15px;
}

header{
	text-align: center;
	background-color: #1f1f1f;
}

#congratulations{
	text-align: center;
	font-size: 30px;
	color: rgb(236, 176,	2);
}

#button{
	padding: 10px;
	margin-top: 20px;
}

#button a{
	padding: 5px;
	font-family: 'Hind Vadodara', sans-serif;
	color: #1f1f1f;
	background-color: rgb(236, 176,	2);
	border: rgb(236, 176,	2) solid 2px;
}

#button a:hover{
	color: rgb(236, 176,	2);
	background-color: #fff;
	border: rgb(236, 176,	2) solid 2px;
}

.foot{
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: static;
	z-index: auto;
}

#footer {
	margin-bottom: -10rem;
	width: 500px;
	height: 0px;
	position: sticky;
	font-size: small;
	text-align: center;
	width: 100%;

}

#footer p{
	margin-top: -9px;
	margin-bottom: 5px;
}


html, body {
		height:100%;
}
