<!DOCTYPE html>
<html lanf="en">

	<head>
		<meta charset="utf-8">
		<title>Unischedular | Guide</title>
	</head>

	<body>
		<div class="grid-container">
			<div class="schedule" class="item">
				<table>
					<tbody>
						<tr>
							<th></th>
							<th></th>
							<th>Class</th>
							<th>Schedule</th>
						</tr>
						<tr>
							<td><img src="deadline.gif" alt="deadline image"></td>
							<td><img src="grade.gif" alt="deadline image"></td>
							<td><p>BSS 101-LM</p>
								<p>LEC (5640)</p></td>
							<td><p>MoWeFr 10:10AM - 11:00AM</p>
								<p>Room 155</p>
								<p>WeFr 5:05PM - 6:20PM</p>
								<p>Room 155</p>
							</td>
						</tr>
						<tr>
							<td><img src="deadline.gif" alt="deadline image"></td>
							<td><img src="grade.gif" alt="deadline image"></td>
							<td><p>CSS 107-LM</p>
								<p>LAB (6720)</p></td>
							<td><p>MoWeFr 11:15AM - 12:05PM</p>
								<p>Room 159</p>
							</td>
						</tr>
						<tr>
							<td><img src="deadline.gif" alt="deadline image"></td>
							<td><img src="grade.gif" alt="deadline image"></td>
							<td><p>BIL 160</p>
								<p>LEC (5350)</p></td>
							<td><p>MoWeFr 2:30PM - 3:20PM</p>
								<p>Room 245</p>
							</td>
						</tr>
						<tr>
							<td><img src="deadline.gif" alt="deadline image"></td>
							<td><img src="grade.gif" alt="deadline image"></td>
							<td><p>ART 203</p>
								<p>LEC (6778)</p></td>
							<td><p>TuTh 2:30PM - 3:20PM</p>
								<p>Room 566</p>
							</td>
						</tr>
						<tr>
							<td><img src="deadline.gif" alt="deadline image"></td>
							<td><img src="grade.gif" alt="deadline image"></td>
							<td><p>MTH 165</p>
								<p>LEC (2489)</p></td>
							<td><p>TuTh 4:30PM - 6:20PM</p>
								<p>Room 666</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="click"> <!--Click means the item you would click on, on the original website-->
				<ul>
					<li>Weekly Schedule&#8227;</li>
					<li>Enrollment Shopping Cart&#8227;</li>
				</ul>
			</div>
	
			<div class="item">
			</div>

			<div class="item">
			</div>

			<div class="item">
			</div>
		</div>

	</body>
</html>